body{background-color:"#000077";font-size:11pt;color:"#000077"}

a:link{color:"#00aa55";font-size:12pt;text-decoration:none}

a:visited{color:"#0000ff";font-size:12pt;text-decoration:none}

a:active{background:"#fffcfc";color:red;font-size=11pt}

a:hover{color:"#00ff77";font-size:12pt;text-decoration:underline overline}

h1{font-size:30pt;font-family:"Arial"}

h2{font-size:15pt;font-family:"Arial";color:black}

.title1{color:black;font-size:15pt;font-family:"Arial";text-decoration:underline}

.title2{font-size:20pt;font-family:"Impact"}

.linkf{font-size:16pt;font-family:"Impact"}

.linkf2{font-size:10pt;font-family:"Arial"}

.linkf3{font-size:12pt;font-family:"Impact";color:white;background-color:"#000077"}


.logo-l{color:black;font-size:20pt;font-family:"Arial"}
.logo-s{color:black;font-size:15pt;font-family:"Arial"}

.f9{font-size:9pt}

.f12{font-size:12pt}

.f15{font-size:15pt}

.f15i{font-size:15pt;font-family:"Impact"}


.menubar{color:white;font-size:10pt;font-family:"Arial"}

.fw{font-size:7pt;color:white}
